[Desktop Entry]
Version=1.0
Type=Application
Name=WebMIX
GenericName=Streaming/Recording Software
Comment=OBS Studio with the WebMIX browser interface
Exec=webmix --web
TryExec=webmix
Icon=com.obsproject.Studio
Terminal=false
Categories=AudioVideo;Recorder;
StartupNotify=true
StartupWMClass=obs
